* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: blue;
}

li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

.header {
    margin: 0 auto;
    padding: 1px 0;
    background-color: #444444;
    height: 60px;
    width: 950px;
}

.nav {
    margin: auto;
    width: 950px;
}

.nav-container {
    background-color: #444444;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.nav-container li {
    display: inline;
    border-left: 1px solid white;
}

.nav-container li:nth-child(1) {
    display: inline;
    border-left: none;
}

.nav-container a {
    color: white;
    text-align: center;
    padding: 12px 10px;
    font-size: 18px;
}

.nav-container .nav-link:hover {
    text-decoration: underline;
}

.profile {
    line-height: 3.5em;
    color: white;
    padding: 10px 0 0 0;
    margin-bottom: 20px;
    width: 100%;
    background-color: #444444;
}

.profile-photo {
    margin: 0;
    padding: 5px 0 15px 60px;
    float: left;
}

.profile-title {
    padding-top: 48px;
    text-align: center;
    background-color: #444444;
    color: white;
}

.clearfix {
    clear: both;
}

.main {
    width: 950px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    background-color: #f2f3f4;
}

.section {
    font-size: 16px;
    background-color: #f2f3f4;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 5px 10px 20px 30px;
    line-height: 1.7em;
}

.section span {
    font-weight: bold;
    color:#363636
}

.section a {
    color: #008080;
}

.section a:hover {
    color: blue;
}

.section header {
    margin: 15px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 5px solid #444444;
    width: max-content;
}

pre {
    background-color: #022550;
    margin: 10px 20px 0 0;
}

pre .violet {
    color: #eaacd1;
}

pre .lightblue {
    color: #bcdbfe;
}

pre .orange {
    color: #fec492;
}

pre .yellow {
    color: #fed82d;
}

pre .yellow {
    color: #fed82d;
}

pre .green {
    color: #9dfffd;
}

pre .rose {
    color: #d870d5;
}

pre .red {
    color: #fd8b89;
}

pre .blue {
    color: #20a0fc;
}

pre .white {
    color: white;
}

.footer {
    width: 950px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #444444;

}

.footer-content li {
    padding: 20px 0 0 0;
}

.footer-content span,
a {
    color: white;
    font-size: 18px;
}

.github-link:hover {
    text-decoration: underline;
}

.footer-logo {
    background: #444444;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-logo-image {
    margin-top: 10px;
    max-width: 100%;
    box-sizing: border-box;
}